---
import Layout from '../layouts/PortfolioPost.astro';
---

<Layout
	title="About Me"
	description="Jim is a multifaceted digital artist with the drive, talent and skill to make your project into a reality. Trained in visual effects for feature films, Jim has branched out to learn a variety of disciplines, including graphic design, illustration, fine art, and more. He has worked on several feature films and is also a published illustrator."
	pubDate={new Date('July 27 2024')}
	heroImage="public/ogimage.png"
>
	<center><img src="/images/profile.png"></center>
	<p>Jim is a multifaceted digital artist with the drive, talent and skill to make your project into a reality. Trained in visual effects for feature films, Jim has branched out to learn a variety of disciplines, including graphic design, illustration, fine art, and more. He has worked on several feature films and is also a published illustrator.
	
	</p>

	<center><h2><a href="jfcgallery.com/docs/JimCarlston_Resume.pdf" target="_blank">Resume</a></h2></center>
</Layout>
